In [1]:
import numpy as np
import pandas as pd

In [2]:
user_interest_df = pd.read_csv('user_interest_df.csv', index_col=0)
user_interest_df.head()

   user_id  interest_id  rating  experience
0        0            4       1           1
1        0            2       4           2
2        1            1       1           2
3        1            4       2           1
4        1            3       2           3

In [3]:
project_interest_df = pd.read_csv('project_interest_df.csv', index_col=0)
project_interest_df.head()

   project_id  interest_id  rating  experience
0           0            2       3           2
1           0            1       3           1
2           1            2       1           2
3           1            4       1           2
4           1            3       2           1

In [4]:
user = 5

In [5]:
user_interest_series = user_interest_df.groupby('user_id')['interest_id'].agg(lambda x: set(x))
user_interest_series

user_id
0           {2, 4}
1     {1, 2, 3, 4}
2     {1, 2, 3, 4}
3           {2, 4}
4           {1, 2}
5     {1, 2, 3, 4}
6              {2}
7        {1, 2, 4}
8     {1, 2, 3, 4}
9        {1, 3, 4}
10    {1, 2, 3, 4}
11    {1, 2, 3, 4}
12    {1, 2, 3, 4}
13          {1, 2}
14             {2}
15             {3}
16             {1}
17             {2}
18    {1, 2, 3, 4}
19       {1, 3, 4}
Name: interest_id, dtype: object

In [6]:
project_interest_series = project_interest_df.groupby('project_id')['interest_id'].agg(lambda x: set(x))
project_interest_series

project_id
0          {1, 2}
1    {1, 2, 3, 4}
2          {1, 4}
3    {1, 2, 3, 4}
4             {1}
5    {1, 2, 3, 4}
6       {1, 3, 4}
7             {3}
8          {1, 4}
9    {1, 2, 3, 4}
Name: interest_id, dtype: object

In [13]:
is_interest_match = user_interest_series.iloc[user]==project_interest_series.values
interested_projects = project_interest_series[is_interest_match].index.tolist() 
interested_projects

[1, 3, 5, 9]

In [8]:
for project in interested_projects:
    for interest in project_interest_series.iloc[project]:
        required_skill = (project_interest_df['project_id']==project) & (project_interest_df['interest_id']==interest)
        qualified_skill = (user_interest_df['user_id']==user) & (user_interest_df['interest_id']==interest)
        if project_interest_df[required_skill].experience.values > user_interest_df[qualified_skill].experience.values:
            interested_projects.remove(project)
            break
            
interested_projects